/Arquitectura_de_Computadoras
/Elementos_de_contabilidad
/Programacion_logica
/Sistemas_Operativos
/Taller_de_informatica
/Programacion1/GUI_Horodeski_Lautaro/venv/
/.vscode
/Practicas2/Archivos de interfaz